@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav {
    width: 100%;
    height: 7vw;
    background: linear-gradient(125deg, #e61b36, #9c1032);
}

.nav-container {
    max-width: 90vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logonav {
    width: 7vw;
    object-fit: contain;
}

.nav-profile {
    display: flex;
    cursor: pointer;
}

.nav-profile-name {
    color: #fff;
    font-size: 1.2vw;

}

.nav-profile-cart {
    position: relative;
}

.fa-cart-shopping {
    color: #fff;
    font-size: 1.2vw;
    margin-left: 0.5vw;
}

.cartcount {
    position: absolute;
    background: red;
    width: 25px;
    height: 25px;
    top: -20px;
    left: 15px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    margin-left: 2rem;
}

.login a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.2vw;
}

.container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    width: 20vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar-search {
    padding: 10px;
    border: 2px solid transparent;
    width: 100%;
    font-size: 1.2vw;
    border-radius: 5px;
    outline: none;
    background: #f2f2f2;
    transition: 0.3s;
    margin-bottom: 20px;
}

.sidebar-search:focus {
    border: 2px solid #e61b36;
}

.sidebar-items {
    background: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px #e5e5e5;
    color: #000;
    transition: 300ms;
    font-size: 1.2vw;
}

.sidebar-items:hover {
    background: linear-gradient(125deg, #e61b36, #9c1032);
    color: #e5e5e5;
}

.product {
    width: 80vw;

    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.product-items {
    cursor: pointer;
    transition: 0.3s;
}

.product-items:hover {
    transform: scale(1.03);
}

.product-img {
    width: 100%;
    height: 17vw;
    object-fit: cover;
    border-radius: 10px;
}

.modal,
.modal-bg {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-page {
    z-index: 99;
    min-width: 30vw;
    max-width: 40vw;
    max-height: 30vw;
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    overflow: scroll;
}

.modaldesc-content {

    display: flex;
}

.modaldesc-detail {
    margin-left: 15px;
}

.modaldesc-img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

.btn-control {
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 1.2vw;
    transition: 0.3s;
}

.btn-buy {
    background: linear-gradient(125deg, #e61b36, #9c1032);
    color: #f2f2f2;
    margin-left: 10px;
}


.cartlist-items {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.cartlist-left {

    display: flex;
    width: 100%;
}

.cartlist-left img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 5px;
}

.cartlist-right {
    display: flex;
    align-items: center;
}

.btnc {
    width: 30px;
    height: 30px;
    background: #e5e5e5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    cursor: pointer;
}